doctype html
html(ng-app="todo-list")
  head
    meta(charset="utf-8")
    title(ng-controller='TodoListController') {{title}}
  body
    h1 Hello world
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js")
    script(src="app.js")
