doctype html
html(ng-app="todo-list" ng-controller='TodoListController')
  head
    meta(charset="utf-8")
    title {{title}}
  body
    h1 Que dois-je faire ?
    script(src="../bower_components/angular/angular.min.js")
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src="app.js")
    ul(ng-repeat='todo in todolist' class='list-group')
      li(class='list-group-item')
        span(ng-show='todo.checked' class='badge') OK
        span(role='button' class='glyphicon glyphicon-remove' ng-click='remove(todo)')
        {{todo.task}} (priorité : {{todo.priority}})

    h3 Ajouter un item
    form()
        fieldset.form-group
            label(for='title') Titre de la tâche
            input#title.form-control(type='text' ng-model='formtask' required)
        fieldset.form-group
            label(for='priority') Priorité
            input#priority.form-control(type='number' value='0' ng-model='formpriority')
        .checkbox
            label
                input(type='checkbox' ng-model='formdone')
                |  Done ?
        button.btn.btn-primary(type='submit' ng-click='add()') Créer
